{% extends "default.html" %}

{% block body %}
<div class="container index">
  <div class="jumbotron">
    <h1>CBCR Predictive Model</h1>
    <p>Summary and instructions on usage</p>
    <p><a class="btn btn-blue btn-lg" href="http://2016.igem.org/Team:UC_Davis" target="_blank"role="button">Visit our teams wiki</a></p>
  </div>
  <div class="row row-centered">
    <div class="col-xs-10 col-centered">
      <form action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>File</label>
          <input type="file" name="file">
        </div>
        <!-- Post to '/' -->
        <button class="btn btn-blue">Upload!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}